<% title "Typy czynnosci" %>
 <div id="1" class="middle-content">
    
  <h1>Typy czynności</h1>

<div style="width:650px; float:left;">
<table id="typy_czynnosci" class="display" summary="Section list" data-source="<%= typy_czynnosci_url(format: "json") %>">
    <thead>
    <tr class="header">
      <th>Kod Czynności</th>
      <th>Opis</th>
    
      <th>Pochodzenie</th>
      <th>Data utworzenia</th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
   </table>
   </div>   
<div id="insert" style="float:right;margin-top:0px;margin-left:15px;">
  <p>Dodaj nową czynność:</p>

 <%= form_for @nowa_czynnosc do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    
  <% end %>



    </div>  
 </div>

<!--     
 <% @czynnosci.each do |czynnosc| %>
 <%= render(:partial =>'czynnosc', :locals => {:czynnosc => czynnosc}) %>
          
     <% end %> -->
