<% title "Typy czynnosci" %>
 <div id="header" class="header-colored" style="background-color:rgb(233, 135, 29); ">
Typy czynności</div>
<a href="#" id="hide" style="float:right; margin-top:-22px; color:#fff; font-weight:500; text-decoration:none;" ><span>-</span></a><div id="visable-div" >


<div style="width:650px; float:left;">
<table id="typy_czynnosci" class="display" summary="Section list" data-source="<%= typy_czynnosci_url(format: "json") %>">
    <thead>
    <tr class="header">
      <th>Kod Czynności</th>
      <th>Opis</th>
    
      <th>Pochodzenie</th>
      <th>Data utworzenia</th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
   </table>
   </div>   
<div id="insert" style="padding-right:10px;float:right;margin-top:0px;">
  <p>Dodaj nową czynność:</p>

 <%= form_for @nowa_czynnosc do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    
  <% end %>



    </div>  
 </div>
 </div>
