<% title "Czasy dostępne" %>
 <div id="1" class="middle-content">
    
  <h1>Czasy dostępne</h1>


<div style="width:650px; float:left;">
<table id="tabela_czasow" class="dislpay" summary="Section list" data-source="<%= tabela_czasow_dostepnych_url(format: "json") %>" >
  <thead>
    <tr class="header">
      <th>Id pracownika </th>
      <th>Id pracownika merx</th>
    
      <th>Godziny przepracowane</th>
      <th>Godziny netto</th>
      <th>Data</th>
      <th>Źródło</th>
    </tr>
  </thead>
    
    <tbody>
    </tbody>
   </table>
      </div>
<div id="insert" style="float:right;margin-top:0px;margin-left:0px;">
  <p>Dodaj nowy czas:</p>

 <%= form_for @nowy_czas do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    
  <% end %>



    </div>  
 </div>

