<% title "Czasy dostępne" %>
 <div id="header" class="header-colored" style="background-color:rgb(233, 135, 29); ">
Tabela czasow dostępnych</div>
<a href="#" id="hide" style="float:right; margin-top:-22px; color:#fff; font-weight:500; text-decoration:none;" ><span>-</span></a><div id="visable-div" >


<div style="width:650px; float:left;">
<table id="tabela_czasow" class="dislpay" summary="Section list" data-source="<%= tabela_czasow_dostepnych_url(format: "json") %>" >
  <thead>
    <tr class="header">
      <th>Id pracownika </th>
      <th>Id pracownika merx</th>
    
      <th>Godziny przepracowane</th>
      <th>Godziny netto</th>
      <th>Data</th>
      <th>Źródło</th>
    </tr>
  </thead>
    
    <tbody>
    </tbody>
   </table>
      </div>
<div id="insert" style="float:right;margin-top:0px;margin-left:0px;">
  <p>Dodaj nowy czas:</p>

 <%= form_for @nowy_czas do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    
  <% end %>



    </div>  
 </div>

