<% title "Czasy dostępne" %>
 <div id="1" class="middle-content">
    
  <h1>Czasy dostępne</h1>
<p>
<b>Pobierz listę w formacie: 
<%= button_to("Excel (.xls)" , export_czasy_dostepne_path(format: "xls"), :class => "szczegoly") %>

</b>
</p>



<table id="tczynnosci" style="width:100%" border="1"class="listing" summary="Section list">
    <tr class="header">
      <th>Id pracownika </th>
      <th>Id pracownika merx</th>
    
      <th>Data</th>
      <th>Obszar</th>
      <th>Magazyn</th>
      <th>Typ operacji</th>
   
      <th>Czas normatywy [tg]</th>
      <th>Czas normatywy [tj]</th>
      <th>Czas tabela-transportowa [tg]</th>
      <th>Czas tabela-transportowa [tj]</th>
      <th>Suma czasów [tj]</th>
      <th>Źródło</th>
      <th>Komentarz</th>
    </tr>
    
 <% @normy.each do |norma| %>
 <%= render(:partial =>'norma', :locals => {:norma => norma}) %>
          
     <% end %>
   </table>

</div>
   <div id="1" class="middle-content">
<div id="insert">
  <p>Dodaj nowy czas:</p>

 <%= form_for @nowa_norma do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    
  <% end %>



 </div> 

