<% title "Tabela Transportowa" %>
<div style="middle-content">
  <h1>Tabela Transportowa</h1>
  
     <div id="insert" >
  <p>Dodaj nowy Transport:</p>

 <%= form_for @nowy_transport do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    
  <% end %>
</div>
<div style="middle-content">


<!--  <br/>
<p>
<b>Pobierz listę w formacie: 
<%= button_to("Excel (.xls)" , export_tabela_transportowa_path(format: "xls"), :class => "szczegoly") %>

</b>
</p> -->
<br/>
<div id="tabela-div">
  
<table id="tabela_transportowa" class="display" style="font-size:12px;" summary="Section list" data-source="<%= tabela_transportowa_url(format: "json") %>">
     <thead>
    <tr style="text-align:left;" >
      <th>Nr. drogi</th>
      <th>Nr. z systemu</th>
      <th>Przebieg trasy</th>
      <th>Opis trasy</th>
      <th>Typ operacji</th>
      <th>Obszar</th>
      <th>Ruch od</th>
      <th>Ruch do</th>
      <th>Środek transporu</th>
      <th>Dystans od</th>
      <th>Dystans do</th>
      <th>Ilość zakrętów</th>
      <th>Ilość start/stop</th>
      <th>Rodzaj pobrania</th>
      <th>Kod prędkości</th>
      <th>Kod dodatku pobranie i umieszczenie</th>
      <th>Czas przejazdu bez pobrania i umiesczenia [sek/1kurs]</th>
      <th>Komentarz</th>
      <!-- <th>Data dodania</th> -->
      <!-- <th>Pochodzenie</th> -->
    </tr>
    </thead>
      <tbody>

      </tbody>

   </table>
</div>
</div>