<% title "Tabela Transportowa" %>
<div id="header" class="header-colored" style="background-color:rgb(233, 135, 29); ">
Dodawanie nowego transportu
</div>
<a href="#" id="hide" style="float:right; margin-top:-22px; color:#fff; font-weight:500; text-decoration:none;" ><span>-</span></a>
<div id="visable-div" >
<div id="insert" style="margin-top:0; padding:10px;">

 <%= form_for @nowy_transport do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    
  <% end %>
</div>
</div>
<div id="header" class="header-colored" style="background-color:rgb(33, 135, 129); ">
Tabela transportowa
</div>
<a href="#" id="hide" style="float:right; margin-top:-22px; color:#fff; font-weight:500; text-decoration:none;" ><span>-</span></a><div id="visable-div" >

<div id="tabela-div">
  
<table id="tabela_transportowa" class="display" style="font-size:12px;" summary="Section list" data-source="<%= tabela_transportowa_url(format: "json") %>">
     <thead>
    <tr style="text-align:left;" >
      <th>Nr. drogi</th>
      <th>Nr. z systemu</th>
      <th>Przebieg trasy</th>
      <th>Opis trasy</th>
      <th>Typ operacji</th>
      <th>Obszar</th>
      <th>Ruch od</th>
      <th>Ruch do</th>
      <th>Środek transporu</th>
      <th>Dystans od</th>
      <th>Dystans do</th>
      <th>Ilość zakrętów</th>
      <th>Ilość start/stop</th>
      <th>Rodzaj pobrania</th>
      <th>Kod prędkości</th>
      <th>Kod dodatku pobranie i umieszczenie</th>
      <th>Czas przejazdu bez pobrania i umiesczenia [sek/1kurs]</th>
      <th>Komentarz</th>
      <!-- <th>Data dodania</th> -->
      <!-- <th>Pochodzenie</th> -->
    </tr>
    </thead>
      <tbody>

      </tbody>

   </table>
</div>
</div>
</div>