<% title "Tabela Normatywów" %>
<div id="header" class="header-colored" style="background-color:rgb(233, 135, 29); ">
Dodawanie nowego normatywu
</div>
<a href="#" id="hide" style="float:right; margin-top:-22px; color:#fff; font-weight:500; text-decoration:none;" ><span>-</span></a><div id="visable-div" >
<div id="insert" style="margin-top:0; padding:10px;">


 <%= form_for @nowy_normatyw do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    
  <% end %>

</div>
</div>
<div id="header" class="header-colored" style="background-color:rgb(123, 30, 29); ">
Tabela normatywów  
</div>
<a href="#" id="hide" style="float:right; margin-top:-22px; color:#fff; font-weight:500; text-decoration:none;" ><span>-</span></a>
<div id="visable-div" >

<table id="tabela_normatywow"  class="display"  data-source="<%= tabela_normatywow_url(format: "json") %>">
   <thead>
    <tr class="header">
      <th>Kod Czynności</th>
      <th>Obszar</th>
      <th>Opis czynności</th>
      <th>Dodatkowo</th>
      <th>Jednostka</th>
      <th>Czas[s]</th>
      <th>Czas[min]</th>
      <th>Komentarz</th>
      <th>Pochodzenie</th>
      <th>Data utworzenia</th>
    </tr>
</thead>
<tbody>
</tbody>   
</table>

</div>