<% title "Tabela Normatywów" %>
<div style="middle-content">

  <h1>Tabela Normatywów</h1>
   <div id="insert" >
  <p>Dodaj nowy normatyw:</p>

 <%= form_for @nowy_normatyw do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    
  <% end %>
</div>
</div><br/>
<div style="middle-content">
<table id="tabela_normatywow"  class="display"  data-source="<%= tabela_normatywow_url(format: "json") %>">
   <thead>
    <tr class="header">
      <th>Kod Czynności</th>
      <th>Obszar</th>
      <th>Opis czynności</th>
      <th>Dodatkowo</th>
      <th>Jednostka</th>
      <th>Czas[s]</th>
      <th>Czas[min]</th>
      <th>Komentarz</th>
      <th>Pochodzenie</th>
      <th>Data utworzenia</th>
    </tr>
</thead>
<tbody>
</tbody>   
</table>
</div>