 

 $(document).ready(function() {

editor = new $.fn.dataTable.Editor( {
        "ajaxUrl": $('#typy_czynnosci').data('source'),
        "domTable": "#typy_czynnosci",
        "fields": [ {
                "label": "Kod czynności:",
                "name": 0
            }, {
                "label": "Opis:",
                "name": 1
            }, {
                "label": "Źródło pochodzenia:",
                "name": 2
            }, {
                "label": "Data dodania:",
                "name": 3
            }
        ],
                "i18n": {
            "create": {
                "button": "Utwórz",
                "title":  "Dodaj nowy rekord",
                "submit": "Zapisz"
            },
            "edit": {
                "button": "Edytuj",
                "title":  "Edycja Wpisy",
                "submit": "Zapisz"
            },
            "remove": {
                "button": "Usuń",
                "title":  "Potwierdzenie usunięcia",
                "submit": "Usuń",
                "confirm": {
                    "_": "Czy na pewno chcesz usunąć %d wierszy?",
                    "1": "Czy na pewno chcesz usunąć 1 wiersz?"
                }
            },
            "error": {
                "system": "Nie można było usunąć rekordu skontaktuj się z administratorem"
            }
        }
    } );
 

 $('#typy_czynnosci').dataTable( {
                sPaginationType: "full_numbers",
                bJQueryUI: true,
                bProcessing: true,
                bServerSide: true,
                sAjaxSource: $('#typy_czynnosci').data('source'),
                sDom: 'CT<"clear"><"H"lfr>t<"F"ip>',
                "oColVis": {
            "buttonText": "Oddznacz kolumne"
        },
                "aoColumns": [
            { "mData": 0 },
            { "mData": 1 ,sWidth: '40%' },
            { "mData": 2 , sWidth: '20%' },
            { "mData": 3 , sWidth: '20%'}
        ],
        <% @data = DateTime.now.to_date.strftime("%d-%m-%Y") %>

                oTableTools: {
                            "sRowSelect": "multi",
                         "aButtons": [
                                {  
                                    "sExtends": "xls",
                                    "sFileName": "TypyCzynności-<%=  @data %>.xls",
                                    "sButtonText": "Excel",
                                     "mColumns": "visible"
                                }, 
                                {  
                                    "sExtends": "csv",
                                    "sFileName": "TypyCzynności-<%=  @data %>.csv",
                                    "sButtonText": "CSV",
                                     "mColumns": "visible"
                                },
                                  {  
                                    "sExtends": "pdf",
                                    "sFileName": "TypyCzynności-<%=  @data %>.pdf",
                                    "sButtonText": "PDF",
                                     "mColumns": "visible"
                                },
                                {
                                    "sExtends": "copy",
                                    "sButtonText": "Skopiuj do schowka",

                                },
                                {
                                    "sExtends": "print",
                                    "sInfo": "<h2>Drukowanie</h2>Strona została oczyszczona i przygotowana do wydruku.</br>Wybierz opcję drukowania z menu przeglądarki.",
                                    "sButtonText": "Wydrukuj"
                                },
                                

                                { "sExtends": "editor_create","sButtonText": "Dodaj",  "editor": editor },
                                { "sExtends": "editor_edit", "sButtonText": "Edytuj",   "editor": editor },
                                { "sExtends": "editor_remove", "sButtonText": "Usuń", "editor": editor }                              
                                ],
           

                 sSwfPath: "<%= asset_path("copy_csv_xls_pdf.swf") %>"
              
        },
                        "oLanguage": {
                        "sProcessing":   "Proszę czekać...",
                        "sLengthMenu":   "Pokaż _MENU_ pozycji",
                        "sZeroRecords":  "Nie znaleziono żadnych pasujących indeksów",
                        "sInfo":         "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                        "sInfoEmpty":    "Pozycji 0 z 0 dostępnych",
                        "sInfoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Szukaj:",
                        "sUrl":          "",
                        "oPaginate": {
                        "sFirst":    "Pierwsza",
                        "sPrevious": "Poprzednia",
                        "sNext":     "Następna",
                        "sLast":     "Ostatnia"
                        }
                        }
                
                      });
} );

