

<table summary="Section form fields">
  <tr>
  Użytkownik o id <%= @worker.id_worker_merx %>
  <tr>
    <th>Position</th>
    <td><%= f.select(:id_worker_merx, 1..@worker_count) %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= f.select(:id_worker, 1..@worker_count) %></td>
  </tr>

</table>
