

<table summary="Section form fields">
  <tr>
  <tr>
    <th>Id Pracownika</th>
    <td><%= f.text_field :id_worker %></td>
  </tr>
  <tr>
    <th>Id Pracownika Merx</th>
    <td><%= f.text_field :id_worker_merx %></td>
  </tr><tr>
    <th>Imie</th>
    <td><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <th>Nazwisko</th>
    <td><%= f.text_field :last_name %></td>
  </tr>

</table>
