<% @page_title = "Dodaj pracownika" %>


<div class="section new">
  <h1>Dodaj nowego pracownika</h1>

  <%= form_for @new_worker  do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("" , :class => "add", title: "Dodaj nowego pracownika") %>
    </div>
    
  <% end %>
</div>
