<% @page_title = "Dodaj pracownika" %>
 <div id="1" class="middle-content">
    
 
  <h1>Dodaj nowego pracownika</h1>
<div id="insert" style="width:400px; float:left; margin:0; padding:20px 0;">

  <%= form_for @new_worker  do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("" , :class => "add", title: "Dodaj nowego pracownika") %>
    </div>
    
  <% end %>
</div>
</div>
