<% @page_title = "Dodaj pracownika" %>


<div class="section new">
  <h1>Create Section</h1>

  <%= form_for @new_worker  do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Dodaj pracownika" , :class => "szczegoly") %>
    </div>
    
  <% end %>
</div>
