<% @page_title = "Dodaj pracownika" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="section new">
  <h2>Create Section</h2>

  <%= form_for @new_worker  do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Dodaj pracownika") %>
    </div>
    
  <% end %>
</div>
