.header-colored {
	width:100%; 
	float:left; 
	font-weight:300;
	margin-top: 2px;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 0 0 10px; 
	height:25px; 
	
	color:#fff;
}
#visable-div {
	width:100%;
	height:auto;
	float:left;
	padding-bottom:20px;
	padding-top: 10px;
}
.notice {
width:100%; 
	float:left; 
	font-weight:300;
	margin-top: 2px;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 0 0 10px; 
	height:25px; 
	background-color: green;
	color:#fff;
}